* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #474A51;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
}

.container {
  /* background-color: #808080; */
  padding: 10px;
}

.collumnTitle {
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 15px;
}


.list {
  list-style: none;
  color: #FF8C00;
  text-align: left;
  width: 100%;
  font-size: 1.2rem;
}

.list:hover {
  cursor: pointer;
}

.list a:hover {
  text-decoration: underline;
}

.list li {
  text-align: left;
  display: flex;
  gap: 2px;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 4px;
}

.footerBottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #474A51;
}

p {
  text-align: center;
  color: #FFFFFF;
}

.icons {
  size: 15px;
  color: white;
}

/* mobile */
@media only screen and (max-width: 600px) {

  footer {
    background-color: #474A51;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
  }
}